<!-- <link rel="stylesheet" type="text/css" href="css/reset.css" /> -->
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- <script src ="js/directives/flashcard/flashcard.js"></script> -->


<!-- <p>{{displayText}}</p>
<p>{{flashCardQuestion}}</p> -->


<!-- 
<div
	ng-repeat="flashCard in flashCards | orderBy : 'question'"
	class="flash-card"> -->
<div class = "flash-card">
	<h1>{{ card.question | uppercase }}</h1>
	<ul class="flash-card-answers">
		<li
			ng-repeat="answer in card.answers | cheat"
			class="flash-card-answer"
			ng-click="answerQuestion(answer)">{{ answer.text }} </li>
	</ul>
	<h2
		class="answer-feedback"
		ng-class="card.answeredCorrectly ? 'correct' : 'incorrect'"
		ng-show="card.answered">
	    <span ng-show="card.answeredCorrectly">Yeah, you got it right!</span>
	    <span ng-show="!card.answeredCorrectly">Nope, you got it wrong.</span>
	</h2>
	<h3>
	    {{card.category}} 
	    <!-- where is the class with style for .flash-card h3?  -->
	</h3>
</div>